
/* <!-- GOOGLE FONTS --> */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* VARIABLES DE COLORES */
:root {
    --dark__pink: #B74140;
    --pink: #FA6674;
    --light__pink: #FCB6BC;
    --white: #FDFFFE;
    --beige: #FBE9CB;
    --caramel: #F0BF87;
}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

/* MENÚ*/

svg {
    width: 100%;
    height: auto;
    vertical-align: middle;
    max-height: 50px;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
}

.nav-link {
    color: var(--dark__pink);
    position: relative;
    transition: color 500ms;
    font-family: 'Inter', sans-serif;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 0; 
    height: 1px; 
    background-color: var(--pink);
    transition: width 0.3s ease; 
}

.nav-link:hover {
    color: var(--pink);
}

.nav-link:hover::after {
    width: 100%; 
}

.navbar-brand > svg {
    fill: var(--dark__pink);
    transition: fill 500ms;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbe9cb45;
    z-index: -1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: opacity 500ms;
}

.blur-hidden {
    opacity: 0;
}

.sidebar {
    background-color: var(--pink);
}

.navbar-brand > svg:hover {
    fill: var(--pink);
}

.offcanvas-title > svg {
    fill: var(--white);
}

.main {
    background-image: url('../Resources/img/neva-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
}


.box-area{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.right-box{
    padding: 40px 30px 40px 40px;
}

.header-text{
    color: var(--dark__pink);
}

.header-text > h2{
    font-family: 'Inter', sans-serif;
}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    background-color: #fcb6bc61;
    border: none;
    color: var(--dark__pink);
}

.form-control {
    transition: box-shadow 0.3s, border-color 0.3s;
}

/* Efecto hover */
.form-control:hover, 
.form-control:focus {
    box-shadow: 0 0 5px var(--pink), 0 0 10px var(--light__pink); 
    border-color: var(--pink); 
}

.form-control::placeholder {
    color: var(--dark__pink);
    opacity: 1;
    font-size: 16px;
}

.form-control-lg:focus {
    background-color: var(--light__pink);
    border-color: var(--pink); 
    box-shadow: 0 0 0 0.1rem var(--pink);
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.presale__btn {
    margin-top: 1em;
}

.btn-presale {
    background-color: var(--pink);
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-presale:hover {
    background-color: var(--caramel);
}

.btn:focus-visible{
    background-color: var(--caramel);
    border-color: var(--light__pink);
}

.btn:first-child:active {
    background-color: var(--caramel);
    border-color: var(--light__pink);
}

.modal-header, .modal-footer, .modal-body {
    background-color: var(--beige); 
    color: var(--dark__pink);
    border-top: none;
}

.modal-header{
    border-bottom: var(--caramel) solid;
}

.modal-footer {
    padding-top: 0em;
}

.btn-custom {
    background-color: var(--caramel); 
    color: var(--beige);
}

.btn-custom:hover {
    background-color: var(--dark__pink); 
    color: var(--beige);
}


/*------------ For small screens------------*/
@media only screen and (max-width: 992px) {
    .nav-link {
        color: var(--white);
    }

    .nav-link:hover {
        color: var(--dark__pink);
    }
}

@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}