
/* <!-- GOOGLE FONTS------ --> */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* VARIABLES DE COLORES */
:root {
    --dark__pink: #B74140;
    --pink: #FA6674;
    --light__pink: #FCB6BC;
    --white: #FDFFFE;
    --beige: #FBE9CB;
    --caramel: #F0BF87;
}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

/* MENÚ*/

svg {
    width: 100%;
    height: auto;
    vertical-align: middle
}

.navbar {
    height: 10%;
    padding: 0 0.6rem;
    backdrop-filter: blur(10px);
}

.navbar-brand {
    height: 100%;
}

.navbar-brand > svg{
    max-height: 40px;
    fill: var(--dark__pink);
}

.nav-link {
    color: var(--dark__pink);
    font-size: 1.2rem;
    margin: 0 5px;
}

/* Center and style the overlay */
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 150px; /* Default width for larger screens */
    height: auto; /* Maintain aspect ratio */
  }


  
  /* Adjust overlay size for tablets */
  @media (max-width: 768px) {
    .carousel-overlay {
      width: 100px;
    }
  }
  
  /* Adjust overlay size for mobile devices */
  @media (max-width: 480px) {
    .carousel-overlay {
      width: 80px;
    }
  }
  
  /* Set a max height for images in carousel */
  .carousel-item img {
    max-height: 900px; /* Adjust as needed */
    object-fit: cover; /* Maintain image aspect ratio within bounds */
  }