
/* <!-- GOOGLE FONTS------ --> */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* VARIABLES DE COLORES */
:root {
    --dark__pink: #B74140;
    --pink: #FA6674;
    --light__pink: #FCB6BC;
    --white: #FDFFFE;
    --beige: #FBE9CB;
    --caramel: #F0BF87;
}

@import "bootstrap";

/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

/* MENÚ*/

svg {
    width: 100%;
    height: auto;
    vertical-align: middle
}

.sidebar {
    background-color: var(--pink);
}

.nav-link {
    color: var(--dark__pink);
}

.custom__color {
    color: var(--dark__pink);
}

.navbar-toggler-icon {
    color: var(--dark__pink);
}

 /* CARRUSEL */

    
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 20%; 
    max-width: 20px; 
    height: auto; 
    background: none;
   
  }

  img[src$="logo-neva_white.png"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 500px; 
    height: auto;
  }

  .carousel-item img {
    width: 100%;
 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 70vh; 
    }
}
  
  /* Adjust size for tablets */
  @media (max-width: 768px) {
    .carousel-overlay {
      width: 25%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }
  
  /* Adjust size for mobile devices */
  @media (max-width: 480px) {
    .carousel-overlay {
      width: 20%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }

  /* INTRO */

  .introduction {
    background-color: var(--pink);
    height: 100vh;
}

.introduction__container {
    background-color: var(--pink);
}

.introduction__main-text {
    color: var(--beige);
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-top: 2em;
    margin-bottom: 2em;
}

.bracket-icon {
    width: 20em; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.trailer {
    height: 100vh;
    background: rgb(250,102,116);
    background: linear-gradient(180deg, rgba(250,102,116,1) 0%, rgba(250,102,116,1) 50%, rgba(251,233,203,1) 50%);
}

.trailer__container {
    background: none;
}

.trailer__content {
    width: 100%;
}

.video-container {
    border: 2px solid var(--beige);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px var(--beige);
    width: 100%;
    padding: 15px;
}

.video-container iframe {
    width: 100%;                       /* Ancho completo */
    height: 450px;                    /* Altura fija */
    display: block;                   /* Asegura que el iframe se comporte como un bloque */
}

.text {
    background-color: var(--beige);
    height: 100vh;
}

.text__container {
    background-color: var(--beige);
}

.text__main-text {
    color: var(--pink);
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-top: 2em;
    margin-bottom: 2em;
}

/* COUNTDOWN */

.countdown__container {
    background-color: var(--light__pink);
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Ajusta la separación horizontal entre los círculos */
}

#countdown-container {
    font-size: 50px;
    color: var(--dark__pink);
    display: flex;
    gap: 40px; /* Ajusta la separación entre los círculos en el contenedor */
}

#countdown-container div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px solid var(--pink);
    border-radius: 50%;
    background-color: var(--light__pink);
    text-align: center;
    margin-bottom: 10px; /* Añade un pequeño margen inferior */
}

#countdown-container div span {
    position: absolute;
    bottom: -40px; /* Ajusta la posición para acercarlo al círculo */
    font-size: 0.45em;
    text-align: center;
    color: var(--dark__pink);
}



@media (max-width: 600px) {
    .countdown__container {
        height: 72vh;
    }

    #countdown-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

  }


.gallery-text__container {
    color: var(--beige);
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-top: 2em;
    margin-bottom: 2em;
    
}
.photo-gallery {
    background-color: #FA6674;
}

/* GALERÍA */

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.gallery-item {
    display: block;
}

.gallery-item img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s;
}

.gallery-item:hover img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

.lightbox-modal .modal-content {
    background-color: var(--lightbox);
}

.lightbox-modal .btn-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.25rem;
    z-index: 10;
    filter: invert(1) grayscale(100);
}

.lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
}

.lightbox-modal .lightbox-content {
    width: 100%;
}

.lightbox-modal .carousel-indicators {
    margin-bottom: 0;
}

.lightbox-modal .carousel-indicators [data-bs-target] {
    background-color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-inner {
    width: 75%;
}

.lightbox-modal .carousel-inner img {
    animation: zoomin 10s linear infinite;
}

.lightbox-modal .carousel-item .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
    background-color: var(--lightbox);
    color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
    width: auto;
}

.lightbox-modal .carousel-control-prev {
    left: 1.25rem;
}

.lightbox-modal .carousel-control-next {
    right: 1.25rem;
}

@media (min-width: 1400px) {
    .lightbox-modal .carousel-inner {
        max-width: 60%;
    }
}

[data-bs-theme="dark"] .lightbox-modal .carousel-control-next-icon,
[data-bs-theme="dark"] .lightbox-modal .carousel-control-prev-icon {
    filter: none;
}

.btn-fullscreen-enlarge,
.btn-fullscreen-exit {
    position: absolute;
    top: 1.25rem;
    right: 3.5rem;
    z-index: 10;
    border: 0;
    background: transparent;
    opacity: 0.6;
    font-size: 1.25rem;
}

.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.035em;
    fill: currentcolor;
}





/* GALERÍA */

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.gallery-item {
    display: block;
}

.gallery-item img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s;
}

.gallery-item:hover img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

.lightbox-modal .modal-content {
    background-color: var(--lightbox);
}

.lightbox-modal .btn-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.25rem;
    z-index: 10;
    filter: invert(1) grayscale(100);
}

.lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
}

.lightbox-modal .lightbox-content {
    width: 100%;
}

.lightbox-modal .carousel-indicators {
    margin-bottom: 0;
}

.lightbox-modal .carousel-indicators [data-bs-target] {
    background-color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-inner {
    width: 75%;
}

.lightbox-modal .carousel-inner img {
    animation: zoomin 10s linear infinite;
}

.lightbox-modal .carousel-item .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
    background-color: var(--lightbox);
    color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
    width: auto;
}

.lightbox-modal .carousel-control-prev {
    left: 1.25rem;
}

.lightbox-modal .carousel-control-next {
    right: 1.25rem;
}

@media (min-width: 1400px) {
    .lightbox-modal .carousel-inner {
        max-width: 60%;
    }
}

[data-bs-theme="dark"] .lightbox-modal .carousel-control-next-icon,
[data-bs-theme="dark"] .lightbox-modal .carousel-control-prev-icon {
    filter: none;
}

.btn-fullscreen-enlarge,
.btn-fullscreen-exit {
    position: absolute;
    top: 1.25rem;
    right: 3.5rem;
    z-index: 10;
    border: 0;
    background: transparent;
    opacity: 0.6;
    font-size: 1.25rem;
}

.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.035em;
    fill: currentcolor;
}




/* FOOTER*/
svg {
    max-height: 50px;
    margin-bottom: 1rem;
    fill: var(--dark__pink);
    transition: 0.3s ease-in-out;
}

svg:hover {
    fill: var(--beige);
}

footer {
    background-image: linear-gradient(var(--light__pink), var(--pink));
    color: var(--dark__pink);
    box-shadow: -4px -5px 5px #519e9f1c;
}

.icons > i {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.icons > i:hover {
    color: var(--beige);
}

footer a {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--dark__blue);
}

#sp-link {
    cursor: default;
}

footer a:hover:not(#sp-link) {
    color: var(--beige);
}

/* footer {
    background-image: linear-gradient(var(--light__pink), var(--pink));
    width: 100%;
    padding: 1.5em 3em;
    color: var(--dark__pink);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer a {
    text-decoration: none;
    color: var(--dark__pink);
    font-size: 1.1rem;
}
footer p {
    color: var(--dark__pink);
}
#top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
#data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#data > a {
    transition: 0.2s ease;
    cursor: pointer;
    margin-bottom: 0.3rem;
}
#data > a > svg {
    max-height: 70px;
    fill: var(--dark__pink);
    transition: 0.2s ease;
}
#data > a > svg:hover {
    fill: var(--beige);
}
#data > p {
    margin-bottom: 0.3rem;
}
#links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.group {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.group > p, .group > a, .group > h3 {
    transition: 0.2s ease;
    cursor: pointer;
    margin: 0.2rem;
}
.group > p:hover, .group > a:hover, .group > h3:hover{
    color: var(--beige);
}
#icons {
    width: auto;
    display: flex;
    justify-content: space-between;
}
#icons i {
    margin: 0.4em;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#icons i:hover{
    color: var(--beige);
}
#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
#copyright > p {
    font-size: 0.75rem;
    margin-bottom: 0;
}
/* MEDIA QUERIE TABLET 1000PX */
