/* <!-- GOOGLE FONTS------ --> */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


/* VARIABLES DE COLORES */
:root {
    --darkest__blue: #030D32;
    --dark__blue: #144259;
    --blue: #519e9f;
    --light__blue: #CBE8E9;
    --sand: #fff5e5;
    --white: #FDFFFE;
}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

svg {
    width: 100%;
    height: auto;
    vertical-align: middle;
    max-height: 50px;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
}

/* MENÚ*/

/* MENÚ*/

svg {
    width: 100%;
    height: auto;
    vertical-align: middle;
    max-height: 50px;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
}

.nav-link {
    color: var(--white);
    position: relative;
    transition: color 500ms;
    font-family: 'Inter', sans-serif;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 0; 
    height: 1px; 
    background-color: var(--blue);
    transition: width 0.3s ease; 
}

.nav-link:hover {
    color: var(--blue);
}

.nav-link:hover::after {
    width: 100%; 
}

.navbar-brand > svg {
    fill: var(--white);
    transition: fill 500ms;
}

.scrolled .nav-link {
    color: var(--white);
}

.scrolled .nav-link:hover {
    color: var(--dark__blue);
}

.scrolled .navbar-brand > svg {
    fill: var(--white);
    transition: 0.3s ease-in-out;
}

.scrolled .nav-link::after {
    background-color: var(--dark__blue);
}

.scrolled .navbar-brand > svg:hover {
    fill: var(--dark__blue);
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #519e9f3a;
    z-index: -1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: opacity 500ms;
}

.blur-hidden {
    opacity: 0;
}

.sidebar {
    background-color: var(--pink);
}

.navbar-brand > svg:hover {
    fill: var(--pink);
}

.offcanvas-title > svg {
    fill: var(--white);
}

/* .sidebar {
    background-color: var(--blue);
}

.offcanvas-title > svg, .navbar-brand > svg {
    fill: var(--white);
}

.navbar-brand > svg:hover {
    fill: var(--blue);
}

.nav-link {
    color: var(--white);
    text-shadow: 0px 0px 5px var(--dark__blue);
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--blue);
    text-shadow: none;
}

.custom__color {
    color: var(--dark__blue);
}

.navbar-toggler-icon {
    color: var(--dark__blue);
} */

/* CARRUSEL */

    
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 20%; 
    max-width: 20px; 
    height: auto; 
    background: none;
   
  }

  img[src$="logo-neva_white.png"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 500px; 
    height: auto;
  }

  .carousel-item img {
    width: 100%;
 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 70vh; 
    }
}
  
  /* Adjust size for tablets */
  @media (max-width: 768px) {
    .carousel-overlay {
      width: 25%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }
  
  /* Adjust size for mobile devices */
  @media (max-width: 480px) {
    .carousel-overlay {
      width: 20%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }

/* CARROUSEL CARDS */

.cards__container {
    background-color: var(--darkest__blue);
    padding-top: 2rem;
}

.cards__container > h2 {
    color: var(--blue);
    font-size: 3em;
    font-family: 'Inter', sans-serif;
}

.carousel-cell {
    margin: 1rem;
}

.card__facts {
    width: 25rem;
    background-color: var(--dark__blue);
    color: var(--light__blue);
    box-shadow: 0 2px 5px #030d3225;
    border-radius: 1rem;
}

.card-img-top {
    border-radius: 1rem;
}

.card__facts .card-title {
    font-family: 'Inter', sans-serif;
}

.flickity-prev-next-button {
    background-color: #cbe8e983;
    transition: 0.3s ease-in-out;
}

.flickity-button-icon {
    transition: 0.3s ease-in-out;
    color: var(--white);
}

.flickity-prev-next-button:hover {
    background-color: var(--darkest__blue);
}

.flickity-prev-next-button:hover > .flickity-button-icon {
    color: var(--sand);
}

.dot.is-selected {
    background-color: var(--sand);
}

/* .gallery > .row {
    margin-left: 0;
    margin-right: 0;
} */

/* FAQs */

.FAQs {
    background-color: var(--darkest__blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FAQs > h2{
    color: var(--blue);
    font-size: 3em;
    font-family: 'Inter', sans-serif;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(81, 158, 159)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 245, 229)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
    --bs-accordion-color: var(--dark__blue);
    --bs-accordion-border-color: none;
}

.accordion-body {
    background-color: var(--light__blue);
}

.accordion-button:not(.collapsed) {
    color: var(--light__blue);
    background-color: var(--dark__blue);
}

.accordion-button {
    color: var(--blue);
    background-color: var(--sand);
}

.accordion-header{
    font-family: 'Inter', sans-serif;
}

.accordion-button:hover {
    color: var(--sand);
    background-color: var(--blue);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 245, 229)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--blue);
}

  /* PROCESO COPYS */

.proceso {
    background-color: var(--darkest__blue);
    height: 100vh;
}

.proceso__main-text {
    color: var(--light__blue);
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
}

.bracket-icon {
    width: 15em;
    height: auto;
}

/* PRESALE BUTTON */

.presale {
    background-color: var(--darkest__blue);
}

.presale p {
    margin-top: 2rem;
    color: var(--light__blue);
    font-size: 1.1rem;
}

.presale__btn {
    margin: 1rem 2rem 2rem 2rem;
}

.presale__link {
    padding: 0.75rem 1.5rem;
    background-color: var(--blue);
    border-radius: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    transition: 0.3s ease-in-out;
}

.presale__link:hover {
    padding: 0.75rem 1.5rem;
    background-color: var(--light__blue);
    color: var(--dark__blue);
    box-shadow: #519e9f67 0 0 3px 3px;
}

/* CONSOLAS DISPONIBLES */

.consolas {
    background-color: var(--darkest__blue);
    padding: 2rem;
}

.card__platforms {
    background-color: var(--dark__blue);
    color: var(--light__blue);
    box-shadow: 0 2px 5px #030d3225;
    border-radius: 1rem;
    margin: 1rem;
    transition: 0.3s ease-in-out;
}
.card__platforms .card-title {
    margin-bottom: 1.5rem;
}

.card__platforms:hover {
    transform: translate(0, -10px);
}

.card-img-top {
    border-radius: 1rem;
}

.card__platforms > .card-body > a {
    color: var(--light__blue);
    background-color: var(--blue);
    font-size: 1.2rem;
    padding: 0.4rem 0.7rem;
    font-family: 'Inter', sans-serif;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card__platforms > .card-body > a:hover {
    color: var(--blue);
    background-color: var(--sand);
}

/* FOOTER*/

footer {
    background-color:  var(--dark__blue);
    color: var(--light__blue);
    box-shadow: -4px -5px 5px #519e9f1c;
}

footer > a {
    justify-content: center;
    align-items: center;
    display: flex;
}

footer svg {
    fill: var(--light__blue);
}

footer svg:hover {
    fill: var(--white);
}

.icons > i {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.icons > i:hover {
    color: var(--white);
}

footer a {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--light__blue);
}

#sp-link {
    cursor: default;
}

footer a:hover:not(#sp-link) {
    color: var(--sand);
}

.custom-bg {
    background-color: var(--darkest__blue); 
}

@media only screen and (max-width: 440px) {
    .card__facts {
        width: 90%;
    }

    .carousel-cell {
        display: flex;
        justify-content: center;
    }
}