
/* <!-- GOOGLE FONTS------ --> */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* VARIABLES DE COLORES */
:root {
    --darkest__blue: #030D32;
    --dark__blue: #144259;
    --blue: #519e9f;
    --light__blue: #CBE8E9;
    --sand: rgb(255, 245, 229);
    --white: #FDFFFE;
}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

/* CARRUSEL */

    
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 20%; 
    max-width: 20px; 
    height: auto; 
    background: none;
   
  }

  img[src$="logo-neva_white.png"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 500px; 
    height: auto;
  }

  .carousel-item img {
    width: 100%;
 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 70vh; 
    }
}
  
  /* Adjust size for tablets */
  @media (max-width: 768px) {
    .carousel-overlay {
      width: 25%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }
  
  /* Adjust size for mobile devices */
  @media (max-width: 480px) {
    .carousel-overlay {
      width: 20%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }


/* FAQs */

.FAQs {
    background-color: var(--light__blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FAQs > h2{
    color: var(--dark__blue);
    font-size: 3em;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(81, 158, 159)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 245, 229)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
}

.accordion-body {
    background-color: var(--white);
}

.accordion-button:not(.collapsed) {
    color: var(--light__blue);
    background-color: var(--dark__blue);
}

.accordion-button {
    color: var(--blue);
    background-color: var(--sand);
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--blue);
}

  /* PROCESO COPYS */

.proceso {
    background-color: var(--light__blue);
    height: 100vh;
}

/* .proceso__container {
    background-color: var(--);
} */

.proceso__main-text {
    color: var(--dark__blue);
    font-size: 1.2rem; /* Ajusta el tamaño del texto */
    margin-top: 2em;
    margin-bottom: 2em;
}

.bracket-icon {
    width: 15em; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* FOOTER*/

footer {
    background-image: linear-gradient(var(--light__pink), var(--pink));
    width: 100%;
    padding: 1.5em 3em;
    color: var(--dark__pink);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer a {
    text-decoration: none;
    color: var(--dark__pink);
    font-size: 1.1rem;
}

footer p {
    color: var(--dark__pink);
}

#top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#data > a {
    transition: 0.2s ease;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

#data > a > svg {
    max-height: 70px;
    fill: var(--dark__pink);
    transition: 0.2s ease;
}

#data > a > svg:hover {
    fill: var(--beige);
}

#data > p {
    margin-bottom: 0.3rem;
}

#links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.group {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.group > p, .group > a, .group > h3 {
    transition: 0.2s ease;
    cursor: pointer;
    margin: 0.2rem;
}

.group > p:hover, .group > a:hover, .group > h3:hover{
    color: var(--beige);
}

#icons {
    width: auto;
    display: flex;
    justify-content: space-between;
}

#icons i {
    margin: 0.4em;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#icons i:hover{
    color: var(--beige);
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright > p {
    font-size: 0.75rem;
    margin-bottom: 0;
}

/* MEDIA QUERIE TABLET 1000PX */

@media only screen and (max-width: 1000px){

        /* FOOTER */

        footer {
            height: 100%;
            padding: 1.3rem 2.5rem;
        }
        
        footer h2 {
            font-size: 1.5rem;
        }
    
        footer h3 {
            font-size: 1rem;
        }
        
        footer p {
            font-size: 0.9rem;    
        }
    
        footer a {
            font-size: 0.9rem;
        }
        
        #top {
            margin-bottom: 2rem;
        }
    
        .group > p {
            text-align: start;
        }
    
        #data > a > svg {
            max-height: 40px;
        }
    
        #data > p {
            font-size: 0.8rem;
        }
        
        #bottom {
            font-size: 0.65em;
            padding-top: 0.8em;
        } 
}

@media only screen and (max-width: 600px) {
    /* FOOTER */

    footer {
        padding: 1.3rem;
    }

    #top {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    #links {
        width: 100%;
        justify-content: space-evenly;
    }

    .group {
        align-items: center;
        text-align: center;
    }

    .group > p {
        text-align: center;
    }
    
    #data {
        align-items: center;
        margin: 0.8rem 0;
    }

    #data > a {
        font-size: 1.2rem;
    }

    #icons > i {
        border: none;
    }

    #copyright {
        font-size: 0.55em;
        text-align: center;
    }
}
