
/* <!-- GOOGLE FONTS------ --> */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* VARIABLES DE COLORES */
:root {
    --darkest__blue: #030D32;
    --dark__blue: #144259;
    --blue: #519e9f;
    --light__blue: #CBE8E9;
    --sand: rgb(255, 245, 229);
    --white: #FDFFFE;
}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

/* CARRUSEL */

    
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 20%; 
    max-width: 20px; 
    height: auto; 
    background: none;
   
  }

  img[src$="logo-neva_white.png"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 500px; 
    height: auto;
  }

  .carousel-item img {
    width: 100%;
 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 70vh; 
    }
}
  
  /* Adjust size for tablets */
  @media (max-width: 768px) {
    .carousel-overlay {
      width: 25%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }
  
  /* Adjust size for mobile devices */
  @media (max-width: 480px) {
    .carousel-overlay {
      width: 20%; 
    }
    img[src$="logo-neva_white.png"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; 
        max-width: 500px; 
        height: auto;
      }
  }


/* FAQs */

.FAQs {
    background-color: var(--light__blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FAQs > h2{
    color: var(--dark__blue);
    font-size: 3em;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(81, 158, 159)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 245, 229)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 4.5a.5.5 0 01.8-.4L8 9.293l5.7-5.193a.5.5 0 11.6.8l-6 5.5a.5.5 0 01-.6 0l-6-5.5a.5.5 0 01-.2-.4z'/%3E%3C/svg%3E");
}

.accordion-body {
    background-color: var(--white);
}

.accordion-button:not(.collapsed) {
    color: var(--light__blue);
    background-color: var(--dark__blue);
}

.accordion-button {
    color: var(--blue);
    background-color: var(--sand);
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--blue);
}

  /* PROCESO COPYS */

.proceso {
    background-color: var(--light__blue);
    height: 100vh;
}

/* .proceso__container {
    background-color: var(--);
} */

.proceso__main-text {
    color: var(--dark__blue);
    font-size: 1.2rem; /* Ajusta el tamaño del texto */
    margin-top: 2em;
    margin-bottom: 2em;
}

.bracket-icon {
    width: 15em; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* FOOTER*/

footer {
    background-image: linear-gradient(var(--light__blue), var(--blue));
    color: var(--dark__blue);
    box-shadow: -4px -5px 5px #519e9f1c;
}

footer > a {
    justify-content: center;
    align-items: center;
    display: flex;
}

svg {
    max-height: 50px;
    margin-bottom: 1rem;
    fill: var(--dark__blue);
    transition: 0.3s ease-in-out;
}

svg:hover {
    fill: var(--sand);
}

.icons > i {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.icons > i:hover {
    color: var(--sand);
}

footer a {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--dark__blue);
}

#sp-link {
    cursor: default;
}

footer a:hover:not(#sp-link) {
    color: var(--sand);
}